.descriptionBlock {
    padding: 10px;
}

.profileImage {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.contact {
    padding-left: 10px;
}

.errorInput {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
